/* External |Styling */

body{
  background-color: antiquewhite;
  color: aqua;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  h1 {
    font-family: Georgia, serif;
    font-weight: bold;
    font-size: 20px;
  }